div {
  float: none;
}

.div1 {
  float; center
}

.div2 {
  float; left
}

top {
  background-color: black;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 48px
  right: 30px;
}
